## -*- coding: utf-8 -*-

## Font awesome: usado para tener íconos grandiosos en nuestro sitio
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

## Nuestro css
<link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="all" />
