/* Barra de navegación */

.bg-dark {
  background: #4584b6 !important;
}

/* Tabla de contenidos local */

@media screen and (min-width: 108em) and (max-width: 200em) {
  .contents.topic {
    height: 100%;
    width: 19%;
    position: fixed;
    z-index: 1;
    top: 5em;
    left: 10%;
    overflow-x: hidden;
    padding-top: 20px;
  }
}

/* Header */

h1 > a {
  color: #4584b6;
}

h1 > a:hover {
  color: #2d618c;
}

/* Footer */

#footer ul.social li{
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}

#footer ul.social li a {
  color:#ffffff;
}

#footer ul.social li a:hover {
  color:#eeeeee;
}

#footer .fa {
 padding: 10px;
 font-size: 30px;
 width: 45px;
 text-align: center;
 text-decoration: none;
 border-radius: 70%;
}

#footer .fa-facebook {
 background: #3B5998;
 color: white;
}

#footer .fa-twitter {
  background:#55ACEE;
  color: white;
}

#footer .fa-telegram {
  background: #00BFFF;
}

#footer .fa-meetup {
  background: #B40431;
}

#footer .fa-github {
  background: #000000;
}


/* Table */

table {
  width: 100%;
  border: 1px solid #ccc;
  margin: 1em;
}
table th, table td {
  padding: 1em;
  border: 1px solid #ccc;
}
table thead {
  color: white;
  background: #4584b6;
}
table thead th {
  padding: 1em;
}


/* Figures & images */

div.figure.sponsor {
  margin-right: 1em;
  margin-right: 1em;
}
