## -*- coding: utf-8 -*-
## Template usado para páginas que necesitan de tu ayuda
<%inherit file="pagina-base.tmpl"/>

<%block name="contenido">
  <h2>¡Necesitamos de tu ayuda!</h2>
  ${post.text()}
</%block>
