{# Nuesta página principal #}
{% extends 'pagina-base.tmpl' %}

{% block extra_head %}
  {{ super() }}
  <meta name="language" content="Spanish">

  <meta property="og:locale" content="es_ES">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://python.ec/">
  <meta property="og:site_name" content="Python Ecuador" />
  <meta property="og:title" content="Python Ecuador" />
  <meta property="og:description" content="Comunidad de Python, Open Source y Software Libre del Ecuador." />
  <meta property="og:image" content="https://python.ec/images/logos/python-ecuador.png" />

  <meta name="twitter:title" content="Python Ecuador">
  <meta name="twitter:description" content="Comunidad de Python, Open Source y Software Libre del Ecuador.">

  <link rel="stylesheet" href="/assets/css/index.css" type="text/css" media="all" />
{% endblock extra_head %}

{% block content %}
  <div class="site-wrapper">
    <div class="cover-container">
      <img src="/images/logos/python-ecuador.png" class="cover-image"/>
      <div class="lead">
        <h1 class="lead-title">
          Comunidad de Python del Ecuador
        </h1>
        <p class="lead-content">
          Difundiendo Python y descentralizando el conocimiento.
          Organizando eventos libres y gratuitos en todo el país.
        </p>
        <p class="lead-footer">
          <a href="/quienes-somos/" class="btn btn-lg btn-default">
            Más sobre nosotros
          </a>
        </p>

        <p class="small">
          Mira lo que la comunidad logró este <a class="yellow-highlight" href="/resumen-2019/">2019</a>.
        </p>

        <div class="github-stars">
          <!-- El valor de width debe ser modificado cuanto tengamos más de 99 estrellas, para que aparezca centrado. -->
          <iframe src="https://ghbtns.com/github-btn.html?user=pythonecuador&repo=pythonecuador.github.io&type=star&count=true&size=large" frameborder="0" scrolling="0" width="120" height="30" title="GitHub"></iframe>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
