## -*- coding: utf-8 -*-
## Nuesta página principal
<%inherit file="pagina-base.tmpl"/>

<%block name="contenido">
  <h1>Python Ecuador</h1>
  <h2>Página inicial</h2>
  <p>
    Edítame en <code>themes/custom/templates/index.tmpl</code>.
  </p>
</%block>
