## -*- coding: utf-8 -*-
## Template usado para nuestras paginas
<%inherit file="base.tmpl"/>

<%block name="content">
  ## Insertar el contido de nuestros archivos
  <div class="content padding-top margin-bottom">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%block name="contenido">
          ## Contenido
        </%block>
      </div>
    </div>
  </div>
</%block>
