{#  -*- coding: utf-8 -*- #}
{# Template usado para nuestras paginas #}
{% extends 'base.tmpl' %}

{% block content %}
  {# Insertar el contido de nuestros archivos #}
  <div class="container pt mb">
    <div class="row justify-content-md-center">
      <div class="col-sm-8">
        {% block contenido %}
          {# Contenido #}
        {% endblock contenido %}
      </div>
    </div>
  </div>
{% endblock content %}
