## -*- coding: utf-8 -*-
## Template usado para nuestras paginas
<%inherit file="pagina-base.tmpl"/>

<%block name="contenido">
  ## Insertar el contido de nuestros archivos
  ${post.text()}
</%block>
