name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      NIKOLA_DEPLOY: python.ec
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install requirements
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install nox
      - name: Tests
        run: python -m nox -s tests
      - name: Lint
        run: python -m nox -s lint_rst lint_yaml lint_python
      - name: Deploy
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
